{% if "posts/" in page.file.src_uri and page.meta.comments != false %}
  <h2 id="__comments">Comments</h2>
  <script src="https://giscus.app/client.js"
          data-repo="inwenis/blog"
          data-repo-id="MDEwOlJlcG9zaXRvcnkzNzYyNzc5OTg="
          data-category="Announcements"
          data-category-id="DIC_kwDOFm2L7s4DAkhF"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="light"
          data-lang="en"
          crossorigin="anonymous"
          async>
  </script>
{% endif %}
